//$primary-color: fade-out(#8136e2, 0.6);
$primary-color: #8136e2;


#plasmo-inline {
    visibility: visible;
}



// ----------- //
// Default Box //
// ----------- //

.ShadeRunner {
  display: flex;
  flex-direction: column;
  gap: 0.2em;


  div.header {
    border-radius: 4px;
    background: #8136e2;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    color: white;
    text-align: center;
    font-size: 90%;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }
}


// ---------- //
// Main Input //
// ---------- //

.ShadeRunner.MainInput {
    display: flex;
    flex-direction: column;

    h1.title {
        color: $primary-color;
        margin-top: -1.75em;
        position: absolute;
        font-size: 125%;
        margin-left: 0.5em;
    }

    textarea {
        border: none;
        font-size: 120%;
        //background: white;
        padding: 1em;
        border-radius: 4px;
        color: $primary-color;
        border:1px solid $primary-color;

        &::placeholder {
            color: $primary-color;
        }

        &:focus {
            outline: none !important;
            box-shadow: 0 0 10px #719ECE;
        }
    }

    .thinking_logo {
        opacity: 0.2;
        animation: pulse-animation 1s infinite alternate;
    }

    @keyframes pulse-animation {
        0% {
            opacity: 0.2;
        }
        
        100% {
            opacity: 0.75;
        }
    }

    @keyframes next-message {
        0% {
            opacity: 1.0;
            margin-top: 2em;
        }
        
        100% {
            opacity: 0.5;
            margin-top: 0em;
        }
    }

    div.status {
        //color: mix($primary-color, black, 20%);
        color: black;
        font-size: 110%;
        padding: 0.5em;
        margin: 0.5em 0;
    }

    p.status_msg {
        animation: next-message 4s;
        opacity: 0.5;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    p.status_msg.processing:last-of-type {
        animation: none;
        opacity: 1.0;
        margin-top: 2em;
    }

    .indent {
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.ClassModifier {
    display: flex;
    flex-direction: column;

    .editable-text {
        width: 100%;
    }
}


  


// -------- //
// Settings //
// -------- //

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%; // Full width on small screens
    max-width: 600px; // Max width to not stretch too far on larger screens
    margin: 2rem auto; // Margin auto for centering
  
    .setting-item {
      display: flex;
      flex-direction: column;
      width: 100%;
  
      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
  
      input[type="number"],
      input[type="text"] {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
  
      .switch-options {
        display: flex;
        gap: 0.5rem;
  
        .switch-option {
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          background-color: #f5f5f5;
          &.active {
            background-color: #007bff;
            color: white;
          }
        }
      }
    }
  
    // Media query for larger screens
    @media (min-width: 768px) {
      align-items: center; // Center items horizontally
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Optional: Adds a subtle shadow
    }
  }



// ----------- //
// UI Elements //
// ----------- //

.switch-options {
  display: flex;
  gap: 0.5rem;
}

.switch-option {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.switch-option.active {
  background-color: #8136e2;
  color: white;
}

.editable-text span {
  cursor: pointer;
  border-bottom: 0px dashed $primary-color; /* Style to indicate it's editable */
  padding: 2px 5px;
  display: block;
  min-width: 50px; /* Ensures a minimum width for shorter text */
  font-size: 16px; /* Adjust as needed */
}

.editable-text input {
  box-shadow: none;
  appearance: none; /* Remove default browser styling */
  -moz-appearance: none; /* Firefox specific styling */
  -webkit-appearance: none; /* Chrome, Safari specific styling */

  font-size: 16px; /* Match font size with span */
  border: none;
  border-radius: 4px; /* Rounded corners for modern look */
  padding: 5px 5px; /* Padding to match span's visual */
  width: 100%; /* Fill the available width */
  box-sizing: border-box; /* Include padding and border in the width */
  outline: none; /* Remove focus outline for aesthetics */
  background: lighten($primary-color, 10%);
  color: white;

  &:focus {
      outline: none !important;
      box-shadow: none;
  }
}

/* Transition for a smooth appearance change */
.editable-text span, .editable-text input {
  transition: all 0.2s ease-in-out;
}



// ------ //
// Legend //
// ------ //

.ShadeRunner.Legend {
  gap: 0.5em;

  div.topicContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    div.topic {
        border-radius: 0.4em;
        overflow: hidden;
    
        &>span:first-of-type {
          cursor: pointer;
          padding: 0.25em 0.2em;
          display: block;
        }
      }
    }
}



// --------- //
// Sidepanel //
// --------- //

.ShadeRunner-Sidepanel {
  display: flex;
  flex-direction: column;
  gap: 3em;

  .statusContainer {
    display: grid;
    grid-template-columns: 1fr 1em 3fr;;
    color: gray;
    font-size: 95%;
    row-gap: 0.3em;

    .statusmsg {
      margin-left: 0.4em;
    }

    span {
      align-self: center;
    }

    // src: CSS filter generator https://codepen.io/sosuke/pen/Pjoqqp

    .checking {
      animation: rotate 1.0s linear infinite; 
    }

    .loaded {
      filter: invert(23%) sepia(78%) saturate(4050%) hue-rotate(260deg) brightness(92%) contrast(91%);
    }
  }

  .logoContainer {
    width: 97%;
    position: absolute;
    bottom: 2em;

    img {
      display: block;
      margin: 0 auto;
      opacity: 0.3;
    }
  }
}


/* ENDLESS ROTATE */
.rotate{
  animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}


// --------- //
// Dark Mode //
// --------- //

@media (prefers-color-scheme: dark) {  
  $background: rgba(53,54,58);
  $textcolor: #bbb;

  button.switch-option {
    background: darken($background, 5%);
    color: $textcolor;
  }

  .ShadeRunner.MainInput {
    textarea {
      background: darken($background, 5%);
      color: lighten($textcolor, 20%);

      &::placeholder {
        color: darken($textcolor, 10%);
      }
    }
  }

  .ShadeRunner-Sidepanel {

    .statusContainer {
      color: $textcolor;
    }
  }

  .ShadeRunner.Legend {
    color: $textcolor;

    div.topicContainer div.topic {
      color: black;
      background: white;
      border-radius: 0.4em;
    }
  }
}